.Layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding-top: 70px;
}

@media (max-width: 1180px) {
    .Layout {
        padding-left: 1rem;
        padding-right: 5rem;
    }
}

@media (max-width: 577px) {
    .Layout {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}