.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f4f4f9;
    margin: 0;
}

.Login form {
    background-color: #fff;
    padding: 4rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.loginTitle {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
    font-family: "Outfit";
}

.Login input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
    outline: none;
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
}

.Login input::placeholder {
    font-family: Outfit;
    font-weight: bold;
}

.Login input:focus {
    border-color: #007BFF;
}

.dontHaveAccount {
    font-size: 16px;
    color: black;
    text-decoration: none;
    display: block;
    margin: 20px 0;
    font-family: Outfit;
}

.signUp {
    font-weight: 600;
}

.dontHaveAccount:hover {
    text-decoration: underline;
}

.Login button {
    background-color: #007BFF;
    color: #fff;
    padding: 12px;
    width: 50%;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Login button:hover {
    background-color: #0056b3;
}