.postCard {
    width: 100%;
    /*border-radius: 10px;*/
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    margin: 30px 0;
    font-family: "Outfit", Arial;
    background-color: #fff;
    position: relative;
}

.postCardWrapper {
    padding: 10px;
}

.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopLeft {
    display: flex;
    align-items: center;
}

.profileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #0b56d6;
}

.postFullName {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 10px;
    cursor: pointer;
}

.postFullName:hover {
    text-decoration: underline;
}

.postTime {
    font-size: 0.9rem;
}

.postCenter {
    margin: 20px 0;
}

.postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft {
    display: flex;
    align-items: center;
}

.star-icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.star-icon.active {
    color: #5858df;
}

.likeCounterText {
    font-size: 15px;
}

.postCommentText {
    font-size: 15px;
    cursor: pointer;
}

.postCommentText:hover {
    text-decoration: underline;
    font-weight: 500;
}

.threeverticaldots {
    cursor: pointer;
}

.postActions {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
    font-weight: 600;
}

.likePost {
    cursor: pointer;
}

.likePost:focus {
    outline: none;
    box-shadow: none;
}

.likePost:active {
    user-select: none;
}

.commentPost {
    cursor: pointer;
}

.commentPost:focus {
    outline: none;
    box-shadow: none;
}

.commentPost:active {
    user-select: none;
}

.sharePost {
    cursor: pointer;
}

.sharePost:focus {
    outline: none;
    box-shadow: none;
}

.sharePost:active {
    user-select: none;
}




/*Here*/

.postOptions {
    display: none; /* Initially hidden */
    position: absolute;
    top: 35px; /* Adjust to place below the MoreVert icon */
    right: 10px; /* Adjust to align with the right side */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 150px;
    z-index: 10;
    font-family: "Outfit", Arial, sans-serif;
    font-size: 14px;
    border: 1px solid #ddd;
    padding: 5px 0;
}

/* Display the dropdown when opened */
.postTopRight .postOptions.show {
    display: block;
}

/* Dropdown option styling */
.postOptions option {
    background-color: #fff;
    color: #333;
    padding: 10px;
    border: none;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
}

/* Hover effect on options */
.postOptions option:hover {
    background-color: #f0f0f0;
    color: #5858df;
}

/* Close the dropdown when an option is selected */
.postOptions option:focus {
    outline: none;
}


