.FollowersSpan {
	
}


.followerUser {
    margin-bottom: 1rem;
}

.followerModalLastName {
    margin-left: 0.5rem;
}

.followerFullName {
    cursor: pointer;
    font-size: 22px;
}

.followerFullName:hover {
    text-decoration: underline;
}