
.PostComment {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    margin: 15px 0;
    margin-top: 1rem;
}

.postCommentHr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3); /* Light gray for a subtle line */
    margin: 16px 0; /* Space above and below */
    width: 100%; /
}


.PostComment-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.commentAuthor-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.commentAuthor-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.commentAuthor-name {
    font-weight: 600;
    color: black;
    font-size: 16px;
    margin-bottom: 0;
}

.commentAuthor-name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.timeAgo {
    font-size: 14px;
    color: #7f7f7f;
    text-align: right;
    margin-right: 1rem;
}

.commentMessage {
    font-size: 17px;
    color: #333;
    line-height: 1.6;
    margin-top: 10px;
    margin-left: 2rem;
}

.postCommentImageAndFullName {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.commentDatePostedAndThreeDotsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.threeDotsPostComment {
    cursor: pointer;
}