.Filter {
    padding: 15px 20px;
    margin: 10px 0;
    margin-bottom: -30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filterLine {
    font-family: Outfit;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-right: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;
}

.filterLine:focus {
    outline: none;
    box-shadow: none;
}

.filterLine:active {
    user-select: none;
}

.arrow {
    font-size: 18px;
    transition: transform 0.3s ease;
}

.arrow.rotate {
    transform: rotate(180deg);
}
