.AccountProfile {
	font-family: Outfit;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

}

.banner {
    width: 100%;
    height: 250px;
    background-color: cyan;
}

.banner img {
    width: 100%;
    height: 250px;
}

.userProfileDetails {
    margin-top: 4rem;
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-between;
}

.leftSection {
    margin-left: 2rem;
}

.rightSection {
    /*margin: 1rem 2rem;*/
    display: flex;
    justify-content: flex-end;
}

.fullNameAndFollowStats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fullName {
    margin-bottom: 0.7rem;
    font-size: 2rem;
    font-weight: 500;
}

.followers {
    cursor: pointer;
}

.followings {
    margin-left: 1rem;
    cursor: pointer;
}

.profilePageAvatar {
    position: absolute;
    top: 160px;
    left: 30px;
    margin-left: 0.8rem;
    width: 150px;
    height: 150px;
    border: 3px solid white;
    border-radius: 50%;
    background-color: #0a3380;
}

.editProfileButton {
    margin-bottom: 3rem;
    margin-right: 1.5rem;
    text-decoration: none;
    padding: 15px;
    border: none;
    border-radius: 25px;
    background-color: #125dd8;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.editProfileButton:hover {
    background-color: #0a3380;
}

.userPageContent {
    margin-top: 2rem;
}

.aboutSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.userProfileHr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.7);
    margin: 16px 0;
    width: 100%; /
}


