.AddComment {
    width: 100%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
}

.addCommentTop {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    /*border: 1px solid #e0e0e0;*/
    /*border-radius: 30px;*/
    /*background-color: #fafafa;*/
}

.addCommentBottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.icons {
    display: flex;
    align-items: center;
    margin-left: 2.8rem;
}

.addCommentIcon {
    font-size: 22px !important;
    margin-left: 1rem;
    cursor: pointer;
}

.addCommentUserImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d1d1d1;
    margin-right: 10px;
}

.addCommentInput {
    flex: 1;
    padding: 8px 12px;
    border: none;
    background-color: white;
    font-size: 14px;
    outline: none;
    color: #333;
}

.addCommentInput::placeholder {
    font-family: Outfit;
}

.addCommentButton {
    font-family: Outfit;
    font-weight: 600;
    padding: 8px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    margin-right: 3rem;
    cursor: pointer;
}

.addCommentButton:hover {
    background-color: #0056b3;
}

.addCommentButton:active {
    background-color: #004085;
}

.hrSeparate {
    /*margin: 20px 0;*/
    /*border: 0;*/
    /*border-top: 1px solid #000000;*/
    /*width: 100%;*/
    /*opacity: 1;*/
    /*margin-top: 30px;*/
    /*margin-bottom: 20px;*/
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3); /* Darker gray for better visibility */
    margin: 16px 0; /* Space above and below */
    width: 100%;
}
