.LayoutRightSection {
	position: relative;
	/*width: 25%;*/
	/*background-color: #f4f3f3;*/
	height: calc(100vh - 50px);

	overflow-y: scroll;
	font-family: Outfit;

}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(179,179,179);
}

.rightSectionWrapper {
	padding: 20px;
	margin-left: 1rem;
}

.profileBox {
	height: 300px;
	width: 300px;
	background-color: #ededed;
	position: relative;
	border-radius: 10px;
	/*z-index: -1;*/
}

.profileBoxTop {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}

.profileBoxBanner {
	width: 100%;
	height: 100px;
	background-color: #0a3380;
}

.rightBoxProfilePicture {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: #007BFF;
}

.profilePictureAndName {
	position: absolute;
	top: 3.5rem;
	left: 6rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.profileName {
	font-weight: 500;
	font-size: 25px;
	cursor: pointer;
}

.profileBoxBottom {

}

@media (max-width: 1172px) {
	.LayoutRightSection {
		display: none;
	}

}