.About {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Outfit;
    width: 100%;
}

.aboutTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.aboutBioEditIcon {
    cursor: pointer;
    font-size: 2rem !important;
}