.NavbarCenter {
	
}

.notificationCounter {
    position: absolute;
    right: 8px;
    top: -5px;
    color: white;
    background-color: #cc0303;
    padding: 0 8px;
    border-radius: 20px;
}

.messagesCounter {
    position: absolute;
    right: 0;
    top: -10px;
    color: white;
    background-color: #cc0303;
    padding: 0 8px;
    border-radius: 20px;
}